<header>
  <%= render partial: 'navbar' %>
</header>


  <body>

    <div id="timestamp">
      <span id="time-title"><%= t('updated_at') %></span>
      <span id="time-value">
        <%# time = Time.at(@facade.timestamp) %>
        <%# time.strftime('%H:%M') %>
      </span>
    </div>
  <section id="infopane">
    <%= render partial: 'infopane' %>
  </section>

</body>
